[submodule "DM-LinkX-4C"]
	path = DM-LinkX-4C
	url = ../dm-linkx-4c.git
[submodule "DM_DeviceSDK"]
	path = DM_DeviceSDK
	url = ../dm-device-sdk.git
[submodule "电机调试工具"]
	path = 电机调试工具
	url = ../motor-debugging-tool.git
